<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<div class="container">
    <span id="title">My profile</span>
    <div>
        <span><strong>Name:</strong> <span th:text="${user.name}"/></span>
        <br>
        <span><strong>Email:</strong> <span th:text="${user.email}"/></span>
    </div>
    <div>
        <a href="#" id="forgot">Forgot your password?</a>
    </div>
    <a href="/api/v1/auth/logout" id="logout">logout</a>
</div>
</body>
</html>
